<html>
  <table width='100%' border='0' cellspacing='0' cellpadding='0'>
    <tbody><tr><td align='justify'>

          <h1>{{cadetSlackId}}
            -
            {{mentorSlackId}}
            멘토링 요청이 확정되었습니다</h1>

          <h3>멘토: &nbsp;<span
              style='font-size: 12pt; font-weight: normal;'
            >{{mentorSlackId}}
            </span>
          </h3>

          <h3>카뎃: &nbsp;<span
              style='font-size: 12pt; font-weight: normal;'
            >{{cadetSlackId}}
            </span>
          </h3>

          <h3>
            멘토링 주제: &nbsp;
            <span style='font-size: 12pt; font-weight: normal;'>
              {{topic}}
            </span>
          </h3>

          <h3>멘토링 예정 시간 : &nbsp;<span
              style='font-size: 12pt; font-weight: normal;'
            >
              {{reservationTimeToString}}
            </span></h3>

          <h3>멘토링 요청 확인하러 가기: &nbsp;<a
              href='https://www.42polar.kr/'
              rel='noreferrer noopener'
              style='font-size: 12pt;'
            >42POLAR</a></h3>
        </td></tr>
    </tbody>
  </table>
</html>