<html>
  <table width='100%' border='0' cellspacing='0' cellpadding='0'>
    <tbody><tr><td align='justify'>

          <h1>4{{cadetSlackId}}의 멘토링 요청이 대기 중입니다 </h1>

          <h3>멘토: &nbsp;<span
              style='font-size: 12pt; font-weight: normal;'
            >{{mentorSlackId}}
            </span>
          </h3>

          <h3>카뎃: &nbsp;<span
              style='font-size: 12pt; font-weight: normal;'
            >{{cadetSlackId}}
            </span>
          </h3>

          <h3>{{cadetSlackId}}의 Profile: &nbsp;<a
              href={{intraProfileUrl}}
              rel='noreferrer noopener'
              style='font-size: 12pt; white-space: nowrap;'
            >{{cadetSlackId}}'s profile</a>
          </h3>

          <h3>과정: <span style='font-weight: normal;'>&nbsp;<span
                style='font-size: 12pt;'
              >{{commonType}}
          </h3>

          <h3>
            멘토링 주제: &nbsp;
            <span style='font-size: 12pt; font-weight: normal;'>
              {{topic}}
            </span>
          </h3>

          <h3>요청시간 1: &nbsp;<span style='font-size: 12pt; font-weight: normal;'>
              {{requestTime1}}
            </span></h3>
				  <h3>요청시간 2: &nbsp;<span style='font-size: 12pt; font-weight: normal;'>
              {{requestTime2}}
            </span></h3>	
          <h3>요청시간 3: &nbsp;<span style='font-size: 12pt; font-weight: normal;'>
              {{requestTime3}}
            </span></h3>

          <h3>멘토링 요청 확인하러 가기:&nbsp;<a
              href='https://www.42polar.kr/'
              rel='noreferrer noopener'
              style='font-size: 12pt;'
            >42POLAR</a></h3>
        </td></tr>
    </tbody>
  </table>
</html>