<html>
.verticalLine {
  border-left: thick solid #ff0000;
}
  <div class='verticalLine'>
    <h2 id='new-mentoring-request'>New mentoring request</h3>
    <blockquote>
      <p><strong>Request by:</strong>
        {{username}}</p>
      <p><strong>Intra Profile:</strong>
        {{intraProfile}}</p>
      <p><strong>Type:</strong>
        {{type}}</p>
      <p><strong>When:</strong>
        {{when}}</p>
      <p><strong>Web Page:</strong>
        {{webpage}}</p>
    </blockquote>
  </div>
</html>