<html>
  <table width='100%' border='0' cellspacing='0' cellpadding='0'>
    <tbody><tr><td align='justify'>

          <h1> New mentoring request</h1>

          <h3>Request by:&nbsp;<span
              style='font-size: 14pt; font-weight: normal;'
            >{{cadetSlackId}}
            </span>
          </h3>

          <h3>Intra Profile:&nbsp;<a
              href={{intraProfileUrl}}
              rel='noreferrer noopener'
              style='font-size: 14pt; white-space: nowrap;'
            >{{cadetSlackId}}'s profile</a>
          </h3>

          <h3>Type:<span style='font-weight: normal;'>&nbsp;<span
                style='font-size: 14pt;'
              >{{commonType}}
          </h3>

          <h3>When:&nbsp;<span style='font-size: 14pt; font-weight: normal;'>
              {{reservationTimeToString}}
            </span></h3>

          <h3>Web Page:&nbsp;<a
              href='https://intra.42.fr'
              rel='noreferrer noopener'
              style='font-size: 14pt;'
            >42POLAR</a></h3>
        </td></tr>
    </tbody>
  </table>
</html>